.login-laout {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
}

.login-from {
  border-radius: 25px;
  padding: 10px;
  background: #ffffff;
  padding: 30px;
  padding-bottom: 0;
}

.login-text {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background: #ffffff00;
}

.singin-login {
  text-align: center;
  padding-bottom: 20px;
}

/* nav-bar */

.nav-bar-top {
  background-color: #000;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-top a img {
  width: 60px;
}

.nav .nav-item-login a {
  background-color: #FFF;
  border-radius: 10%;
  color: #000;
}
.nav .nav-item-login a:hover {
  border-radius: 50px;
  transition: .2s;
}

/* show cart */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 0fr));
  gap: 2rem;
  padding: 0;
  list-style-type: none;
  margin: 4rem 0 4rem 0;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card:hover .card__header {
  transform: translateY(0);
  display: none;
  transition: .2s ease-in-out;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  background: #ffffff;
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}